body {
  /* text-align: center; */
  /* background-color: #00000066; */
}


p {
  margin: 0;
}

.header {
  height: 30px;
  -webkit-app-region: drag;
  margin: 0;
}

.item {
  /* background-color: #ffffff; */
  display: flex;
  margin: 0px 16px 0px 16px;
  font-size: 12px;
  color: #ffffff;
  white-space: nowrap;
}
.title {
  color: #aaaaaa;
}

.glyph-button {
  border: none;
  background: none;
}

.glyph-button:focus {
  outline: none;
}

